Hello {{ hr_name }},

I hope you’re doing well.

I’m writing to check if there are any current or upcoming openings for the
{{ job_position }} role in your organization.

I have {{ experience_years }} years of experience as a Python backend developer,
primarily working with FastAPI, SQLAlchemy, and Jinja2.
{% if skills %}
My skill set includes:
{% for skill in skills %}
- {{ skill }}
{% endfor %}
{% endif %}

I’ve attached my resume for your reference. If there is a suitable opportunity,
I would be happy to discuss further.

You can reach me at:
- Email: {{ email }}
- Phone: {{ contact_number }}
- linkedIn: {{ linedIn_url }}

Thank you for your time.

Regards,  
{{ applicant_name }}
